<%- include("partials/header", { title: "Register" }) %>

<div class="container auth-box">
    <h2>Create Account</h2>

    <form action="/register" method="POST">
        <label>Name</label>
        <input type="text" name="name" required>

        <label>Email</label>
        <input type="email" name="email" required>

        <label>Password</label>
        <input type="password" name="password" required>

        <label>Gender</label>
        <select name="gender">
            <option>female</option>
            <option>male</option>
            <option>other</option>
        </select>

        <label>Phone No</label>
        <input type="text" name="phone_no" required>

        <label>Role</label>
        <select name="role">
            <option value="student">Student</option>
        </select>

        <button type="submit">Register</button>
    </form>
</div>

<%- include("partials/footer") %>
