body {
    margin: 0;
    font-family: Arial;
    background: #f5f5f5;
}

.navbar {
    background: #1e1e2f;
    padding: 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

.hero {
    text-align: center;
    padding: 80px;
}

.btn {
    background: #4b63ff;
    color: white;
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.auth-box {
    width: 350px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}
